.container {
  margin-top: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.img {
  display: flex;
  align-items: center;
  width: 50vw;
  max-width: 400px;
  padding-top: 20px;
}
