html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
in most browser configurations this will be 10px */
:root {
  font-size: 62.5%;
}

#root {
  width: 100vw;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: 'Helvetica Neue', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  letter-spacing: 0.07em;
  min-height: 100vh;
  --font-l: 1.8rem;
  --font-xl: 2.4rem;
  --font-reg: 1.6rem;
  --font-med: 1.7rem;
  --font-xxl: 3.6rem;
  --font-xtreme: 4.2rem;
  background-color:#0d1117;
  color: #dfe6ed;
  --card-border-radius: 6px;
  --warn: rgb(0, 0, 0);
  --submit: rgb(0, 0, 0);
  --danger: rgb(0, 0, 0);
  --secondary: rgb(57, 57, 57);
  --text-color: rgb(0, 0, 0);
  --button-bg: rgb(255, 255, 255);
  --nav-bg: rgba(111, 111, 111, 0.7);
  --nav-bg-ff: rgba(179, 179, 179, 0.9);
  --link-hover-color: rgb(12, 101, 126);
  --button-bg-hover: rgb(12, 101, 126);
  --borders: #dfe6ed solid 2px;
}


h2 {
  font-size: 1.5%;
  font-weight: 550;
}

img {
  border-radius: 5px;
}

.nav a {
  font-size: 16px;
}

main {
  width: 100vw;
}


.nav a {
  font-size: var(--font-xl);
  font-weight: 600;
  text-decoration: none;
  color: white;
}

.page-header {
  margin: 20px;
  display: flex;
  padding: 8px 0px;
  align-items: center;
  justify-content: center;
}

.nav-link {
  font-size: 1.5rem;
  font-weight: 550;
  color: black;
}


.btn {
  cursor: pointer;
  font-weight: 600;
  padding: 8px 16px;
  border-width: 2px;
  border-radius: 6px;
  margin-right: 10px;
  border-style: solid;
  font-family: inherit;
  text-decoration: none;
  background-color: #dfe6ed;
}

.btn:hover {
  background-color: var(--button-bg-hover);
  color: #dfe6ed;
}

.submit {
  color: var(--submit);
  border-color: var(--submit);
}

.secondary {
  color: var(--secondary);
  border-color: var(--secondary);
}

.warn {
  color: var(--warn);
  border-color: var(--warn);
}

.danger {
  color: var(--danger);
  border-color: var(--danger);
}

.page-header h1 {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.page-header img {
  height: 40px;
  margin-left:15px;
}

.page-header img:first-of-type {
  margin-left: 20px;
}

.confirmation {
  padding-left: 20px;
}


form, .form-control, .form-select, .submit {
  font-size: 15px;
}

@media only screen and (min-width: 768px) {
  /* header {
    top: 0;
    display: flex;
    position: sticky;
    flex-direction: row;
    align-items: center;
  } */

  main {
    max-width: 1920px;
    min-height: calc(100vh - 53px);
    margin: 0 auto;
  }


  /* visual fix to help align logo */
  .header-logo-container {
    padding-top: 3px;
  }

  .header-logo-container {
    width: 213px;
  }

  
  .page-header img {
    height: 50px;
    margin-left:20px;
  }
  
  .page-header img:first-of-type {
    margin-left: 25px;
  }

}

@media only screen and (min-width: 1024px) {
    main {
      min-height: calc(100vh - 55px);
    }
  } 