html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
in most browser configurations this will be 10px */
:root {
  font-size: 62.5%;
}

#root {
  width: 100vw;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  min-height: 100vh;
  background-color:#0d1117;
  color: #dfe6ed;
  --font-l: 1.8rem;
  --font-xl: 2.4rem;
  --font-reg: 1.6rem;
  --font-med: 1.7rem;
  --font-xxl: 3.6rem;
  --font-xtreme: 4.2rem;
  --card-border-radius: 6px;
  --warn: rgb(0, 0, 0);
  --submit: rgb(26, 128, 0);
  --danger: rgb(0, 0, 0);
  --secondary: rgb(57, 57, 57);
  --text-color: rgb(0, 0, 0);
  --button-bg: rgb(255, 255, 255);
  --nav-bg: rgba(111, 111, 111, 0.7);
  --nav-bg-ff: rgba(179, 179, 179, 0.9);
  --link-hover-color: rgb(0, 37, 131);
  --button-bg-hover: rgb(101, 0, 0);
  --borders: #dfe6ed solid 2px;
}

/* header {
  width: 100%;
  background: var(--nav-bg-ff);
  border-bottom: var(--borders);
} */

img {
  border-radius: 5px;
}

main {
  width: 100vw;
}

h2 {
  font-size: var(--font-xl);
}

nav a {
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  color: white;
}

nav a:hover {
  color: var(--link-hover-color)
}



.page-header {
  margin: 20px;
  display: flex;
  padding: 8px 0px;
  align-items: center;
}

.btn {
  cursor: pointer;
  font-weight: 600;
  padding: 8px 16px;
  border-width: 2px;
  border-radius: 6px;
  margin-right: 10px;
  border-style: solid;
  font-family: inherit;
  text-decoration: none;
  font-size: var(--font-l);
  background-color: #dfe6ed;
}

.btn:hover {
  background-color: var(--button-bg-hover);
}

.submit {
  color: var(--submit);
  border-color: var(--submit);
}

.secondary {
  color: var(--secondary);
  border-color: var(--secondary);
}

.warn {
  color: var(--warn);
  border-color: var(--warn);
}

.danger {
  color: var(--danger);
  border-color: var(--danger);
}

.page-header h1 {
  font-size: var(--font-xxl);
  margin: 0;
}

.page-header img {
  height: 40px;
  margin-left:15px;
}

.page-header img:first-of-type {
  margin-left: 20px;
}


.confirmation {
  padding-left: 20px;
}

@media only screen and (min-width: 768px) {
  /* header {
    top: 0;
    display: flex;
    position: sticky;
    flex-direction: row;
    align-items: center;
  } */

  main {
    max-width: 1920px;
    min-height: calc(100vh - 53px);
    margin: 0 auto;
  }


  /* visual fix to help align logo */
  .header-logo-container {
    padding-top: 3px;
  }

  nav {
    display: flex;
    margin-left: auto;
    justify-content: center;
  }

  nav ul {
    flex-wrap: nowrap;
  }

  .header-logo-container {
    width: 213px;
  }

  .page-header h1 {
    font-size: var(--font-xtreme);
  }
  
  .page-header img {
    height: 50px;
    margin-left:20px;
  }
  
  .page-header img:first-of-type {
    margin-left: 25px;
  }

}

@media only screen and (min-width: 1024px) {
    main {
      min-height: calc(100vh - 55px);
    }
  } 