.login-form {
  .div {
    border: 2px solid #9eadba;
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 5%;
    margin-left: 20%;
    margin-right: 20%;
  }

  .button {
    border: 2px solid #9eadba;
    color: #293845;
  }

  .button:hover {
    background-color: #293845;
    color: #dfe6ed;
  }
}
