.rig-container {
  display: flex;
  padding: 35px 30px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.gear-container {
  .guitars,
  .amps,
  .pedals {
    border: solid 2px white;
    padding: 5px;
    border-radius: 5px;
  }
  div {
    margin: 5px;
  }
}

.rig-img {
  width: 75%;
  max-width: 350px;
}

.usr-img {
  width: 100%;
  border-radius: var(--card-border-radius);
}

.rig-details {
  width: 98%;
}

.actions {
  margin-top: 15px;
}

.gear-container {
  display: flex;
  padding: 0px 36px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.subsection-title {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.subsection-content {
  margin: 0 8px;
}

.guitar-container,
.pedal-container,
.amp-container {
  width: 100%;
  display: flex;
  align-items: center;
}

.guitar-container form,
.pedal-container form,
.amp-container form {
  margin-left: auto;
}

.color-block {
  width: 25px;
  height: 25px;
  opacity: 0.8;
  border-radius: 4px;
  margin-right: 10px;
  border: 1px solid rgb(200, 200, 200);
}

.no-amps,
.all-amps,
.no-pedals,
.all-pedals,
.no-guitars,
.all-guitars {
  margin: 0;
  font-weight: bold;
  font-size: var(--font-l);
}

.no-amps,
.no-pedals,
.no-guitars {
  color: white;
  font-size: var(--font-l);
}

.all-amps,
.all-pedals,
.all-guitars {
  color: var(--submit);
}

.rig-details h1 {
  margin: 15px 0 3px;
  font-size: var(--font-xxl);
}

.rig-details h2 {
  margin-top: 0;
  margin: 0 0 10px;
  margin-bottom: 10px;
  font-size: var(--font-xl);
}

.rig-details h3 {
  margin: 20px 0 10px;
  font-size: var(--font-l);
}

.rig-details p {
  font-size: var(--font-reg);
  margin: 5px 0;
}

.gear-container > section {
  width: 100%;
  padding: 14px;
  display: flex;
  min-width: 360px;
  margin-bottom: 20px;
  flex-direction: column;
  justify-content: center;
  border: var(--borders);
  box-shadow: var(--card-box-shadow);
  border-radius: var(--card-border-radius);
}

.subsection-title img {
  height: 42px;
  margin-left: 8px;
}

.subsection-title img:first-of-type {
  margin-left: 16px;
}

.amps,
.pedals,
.guitars {
  h2 {
    margin: 0;
    font-size: 2.2rem;
  }
  h3 {
    margin: 10px 0;
    font-size: var(--font-l);
  }
  p {
    font-size: 1.5rem;
  }
}

.subsection-content input,
.subsection-content select {
  padding: 3px;
  margin-left: 5px;
}

.guitar-container p,
.pedal-container p,
.amp-container p {
  margin: 12px 0;
}

.guitar-container a,
.pedal-container a,
.amp-container a {
  color: #dfe6ed;
  text-decoration: none;
}

.guitar-container .btn,
.pedal-container .btn,
.amp-container .btn {
  padding: 3px 10px;
  margin-left: 10px;
}

#file-input {
  width: 0.1px;
  height: 0.1px;
  overflow: hidden;
  position: absolute;
}

#file-name {
  margin-bottom: 10px;
}

@media only screen and (min-width: 768px) {
  .rig-container {
    padding: 35px 30px;
    flex-direction: row;
    align-items: center;
    justify-content: start;
  }

  .rig-img {
    width: 25%;
    max-width: 250px;
    margin-right: 25px;
  }

  .gear-container {
    padding: 0 40px;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
  }

  .gear-container > section {
    width: 45%;
  }
}

@media only screen and (min-width: 1024px) {
  .gear-container {
    padding: 0 40px;
  }
}
