.navbar {
  position: sticky;
  background-color: #dfe6ed;
  color: #293845;
  border: 2px solid #9eadba;
  input, link {
    font-family: 'Futura Std';
    font-style: italic;
    border: 2px solid #9eadba;
    color: #293845;
  }
}
